!!! Strict
%html
  %head
    %title= page_title

    %meta{ :name => "robots",      :content => "all"            }/
    %meta{ :name => "description", :content => page_description }/
    %meta{ :name => "keywords",    :content => page_keywords    }/


    = stylesheets "screen", :media => "screen, projection"
    = stylesheets "print", :media => "print"
    = stylesheets "le-frog/jquery-ui-1.8.custom", :media => "screen, projection"
    = stylesheets "application", :media => "screen, projection"

    /[if lt IE 8]
      = stylesheets "ie", :media => "screen, projection"

  %body{:id => body_id, :class => body_class}
    .container
      #container.span-24
        #logo.span-24
          = link img("mic-logo-white-small.png"), "home.html"

        #menu.span-24
          %ul
            - pages.each do |page|
              - page_url = make_page_url(page)            
              %li{ :class => "#{"selected" if current_page.include?(page_url)}" }
                = link_to page, page_url

        #content.span-24.showgrid
          = yield

        #footer.span-24
          Mirosoft Innovation Center
          %br/
          Institute of Information Technology,
          Vietnam Academy of Science and Technology
          %br/
          18, Hoang Quoc Viet, Cau Giay, Ha Noi, Viet Nam

      = google_analytics
      

  = javascripts "jquery-1.4.2.min"
  = javascripts "jquery-ui-1.8.custom.min"
  = javascripts "jquery.corner"
  = javascripts "application"