!!! Strict
%html
  %head
    %title= page_title

    %meta{ :name => "robots",      :content => "all"            }/
    %meta{ :name => "description", :content => page_description }/
    %meta{ :name => "keywords",    :content => page_keywords    }/

    = stylesheets :screen, :media => "screen, projection"
    = stylesheets :application, :media => "screen, projection"
    = stylesheets :print, :media => "print"
    /[if lt IE 8]
      = stylesheets :ie, :media => "screen, projection"

    = javascripts "jquery-1.4.2.min"
    = javascripts "jquery.corner"
    = javascripts "jquery.boxshadow"
    = javascripts "application"

  %body{:id => body_id, :class => body_class}
  .container
    #container.span-24
      #logo.span-24
        %a{ :href => "home.html" }
          %img{ :src => "images/mic-logo-white.png" }

      #menu.span-24
        %ul
          - pages.each do |page|
            - classes = []
            - classes << "selected" if page == @page
            - classes << "first"    if page == pages.first
            - classes << "last"     if page == pages.last
            
            %li{ :class => classes.join(" ") }
              = link_to page, page.gsub(" ", "_").downcase + ".html"

      #content.span-24
        = yield

      #footer.span-24
        / %img{ :src => "images/footer.png", :style => "float:right;" }
        Mirosoft Innovation Center, Institute of Information Technology, Vietnam Academy of Science and Technology
        %br/
        18, Hoang Quoc Viet, Cau Giay, Ha Noi, Viet Nam