!!! Strict
%html
  %head
    %title= page_title

    %meta{ :name => "robots",      :content => "all"            }/
    %meta{ :name => "description", :content => page_description }/
    %meta{ :name => "keywords",    :content => page_keywords    }/

    = stylesheets :screen, :media => "screen, projection"
    = stylesheets :application, :media => "screen, projection"
    = stylesheets :print, :media => "print"
    /[if lt IE 8]
      = stylesheets :ie, :media => "screen, projection"

    = javascripts("application")

  %body{:id => body_id, :class => body_class}
  .container
    #container.span-24
      #logo.span-24
        %a{ :href => "/" }
          %img{ :src => "images/logo.png" }

      #menu.span-24
        %ul
          %li
            %a{ :href => "" }
              Home
          %li.selected
            %a{ :href => "" }
              Challenges
          %li
            %a{ :href => "" }
              Technology
          %li
            %a{ :href => "" }
              Case Studies
          %li
            %a{ :href => "" }
              Solutions

      #content.span-24
        = yield

      #footer.span-24
        / %img{ :src => "images/footer.png", :style => "float:right;" }
        Mirosoft Innovation Center, Institute of Information Technology, Vietnam Academy of Science and Technology
        %br/
        18, Hoang Quoc Viet, Cau Giay, Ha Noi, Viet Nam