!!! Strict
%html
  %head
    %title= page_title

    %meta{ :name => "robots",      :content => "all"            }/
    %meta{ :name => "description", :content => page_description }/
    %meta{ :name => "keywords",    :content => page_keywords    }/

    = stylesheets :screen, :application, :media => "screen, projection"
    = stylesheets :print, :media => "print"
    /[if lt IE 8]
      = stylesheets :ie, :media => "screen, projection"

    = javascripts("http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js")
    = javascripts('application')

  %body{:id => body_id, :class => body_class}
    %div#container
      %div#header
        Microsoft Innovation Center

      %div#sidebar
        %ul
          %li= link_to "CSP", csp_url
          %li= link_to "BP3", "http://www.bp-3.com"

      %div#content
        = yield

      %div#footer
        Mirosoft Innovation Center, Institute of Information Technology, Vietnam Academy of Science and Technology
        %br/
        18, Hoang Quoc Viet, Cau Giay, Ha Noi, Viet Nam