!!! Strict
%html
  %head
    %title
      = page_title
    - if @page_description
      %meta{:name => "description", :content => @page_description}

    = stylesheets :screen, :application, :media => "screen, projection"
    = stylesheets :print, :media => "print"
    /[if lt IE 8]
      = stylesheets :ie, :media => "screen, projection"

    = javascripts("http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js")
    = javascripts('application')

  %body{:id => body_id, :class => body_class}
    %div#container
      %div#header
        Microsoft Innovation Center

      %div#sidebar
        %ul
          %li= link_to "CSP", "http://www.microsoft.com/industry/publicsector/Government/csp/default.aspx"
          %li= link_to "BP3", "http://www.bp-3.com"

      %div#content
        = yield

      %div#footer
        %p Mirosoft Innovation Center, Institute of Information Technology, Vietnam Academy of Science and Technology
        %p 18, Hoang Quoc Viet, Cau Giay, Ha Noi, Viet Nam